<h1 mat-dialog-title>Body Color</h1>
<div md-dialog-content>
    <table style="min-height: 320px;">
        <tr>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'WHITE'">
                    <div class="WHITE color"></div>
                    <div>WHITE</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'SILVER'">
                    <div class="SILVER color"></div>
                    <div>SILVER</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'BLACK'">
                    <div class="BLACK color"></div>
                    <div>BLACK</div>
                </button>
            </td>
        </tr>
        <tr>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'GREY'">
                    <div class="GREY color"></div>
                    <div>GREY</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'BLUE'">
                    <div class="BLUE color"></div>
                    <div>BLUE</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'GREEN'">
                    <div class="GREEN color"></div>
                    <div>GREEN</div>
                </button>
            </td>
        </tr>
        <tr>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'RED'">
                    <div class="RED color"></div>
                    <div>RED</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'GOLD'">
                    <div class="GOLD color"></div>
                    <div>GOLD</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'MAROON'">
                    <div class="MAROON color"></div>
                    <div>MAROON</div>
                </button>
            </td>
        </tr>
        <tr>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'BEIGE'">
                    <div class="BEIGE color"></div>
                    <div>BEIGE</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'PINK'">
                    <div class="PINK color"></div>
                    <div>PINK</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'BROWN'">
                    <div class="BROWN color"></div>
                    <div>BROWN</div>
                </button>
            </td>
        </tr>
        <tr>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'BURGUNDY'">
                    <div class="BURGUNDY color"></div>
                    <div>BURGUNDY</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'YELLOW'">
                    <div class="YELLOW color"></div>
                    <div>YELLOW</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'BRONZE'">
                    <div class="BRONZE color"></div>
                    <div>BRONZE</div>
                </button>
            </td>
        </tr>
        <tr>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'PURPLE'">
                    <div class="PURPLE color"></div>
                    <div>PURPLE</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'TURQOUISE'">
                    <div class="TURQOUISE color"></div>
                    <div>TURQOUISE</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'ORANGE'">
                    <div class="ORANGE color"></div>
                    <div>ORANGE</div>
                </button>
            </td>
        </tr>
        <tr>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'INDIGO'">
                    <div class="INDIGO color"></div>
                    <div>INDIGO</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'MAGNETA'">
                    <div class="MAGNETA color"></div>
                    <div>MAGNETA</div>
                </button>
            </td>
            <td style="width:33%;">
                <button class="box" mat-button [mat-dialog-close]="'UNLISTED'">
                    <div class="UNLISTED color"></div>
                    <div>UNLISTED</div>
                </button>
            </td>
        </tr>
    </table>
</div>