.card{
    background-color: white;
    margin: 3px 0px;
}
.thumbnail{
    background:url(../../../assets/car.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.content{
    padding: 10px 10px 10px 20px;
    .title{
        font-weight: 600;
        font-size: 16px;
    }
    .location, .props{
        font-size: 12px;
        color: gray;
    }
    .price{
        font-weight: 600;
        font-size: 16px;
        color:#4caf50;
    }
    .price-units{
        margin: 0px 10px;
        font-size: 12px;
        color:#4caf50;
    }
}
.margin-left{
    margin-left: 10px;
}
.margin-right{
    margin-right: 10px;
}

.vertical-spacer{
    margin: 5px 0px;;
}